@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-color: cadetblue;
}

.container {
    width: 450px;
    background-color: lightsteelblue;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.18);
}

.container h2 {
    font-weight: 700;
    font-size: 1.40rem;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid cadetblue;
}

.wrapper {
    margin: 1.5rem 2rem;
}

.wrapper .input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    height: 52px;
    color: black;
    background-color: whitesmoke;
    font-size: 1.05rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.5px;
    border: 1px solid dimgray;
    padding-left: 10px;
    /* padding: 0, 2rem, 0, 1rem; */
}

.input-box span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    line-height: 52px;
    color: dimgray;
}

.input-box span:hover {
    color: black !important;
}

.wrapper .pass-indicator {
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 1s ease;
}

.pass-indicator#nothing::before {
    width: 0%;
}

.pass-indicator#weak::before {
    width: 10%;
    background: red;
}

.pass-indicator#medium::before {
    width: 50%;
    background: yellow;
}

.pass-indicator#strong::before {
    width: 90%;
    background: green;
}

.wrapper .pass-length {
    margin: 1.55rem 0 1.25rem;
}

.pass-length .details {
    display: flex;
    justify-content: space-between;
}

.pass-length input {
    width: 100%;
    height: 5px;
}

.pass-settings .options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
    /* 50% */
}

.options .option:first-child {
    pointer-events: none;
}

.options .option:first-child input {
    opacity: 0.8;
}

.options .option input {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.options .option label {
    cursor: pointer;
    color: darkslategray;
    font-weight: 500;
    padding-left: 0.70rem;
}

.wrapper .generate-btn {
    width: 100%;
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #20809d;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.95rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.95rem 0 1.5rem;
}

.wrapper .generate-btn:hover {
    background-color: #196076;
}