@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-color: cadetblue;
}

.container {
    width: 450px;
    background-color: lightsteelblue;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.18);
}

.container h2 {
    font-weight: 700;
    font-size: 1.40rem;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid cadetblue;
}

.wrapper {
    margin: 1.5rem 2rem;
}

.wrapper .input-box {
    position: relative;
}

